/firebase/functions/node_modules/*
/firebase/functions/index.js
/firebase/public/json/*
/firebase/public/templates/*
/firebase/public/index.html
/firebase/public/index.css
/firebase/public/index.js
/firebase/public/util.js
/firebase/firebase-debug.log
/.sass-cache/*
/node_modules/*
/hashes.json
