<div id="addmachine" ng-controller="MachineController">

    <cards title="Input">
        <div class="inputcard machinecard" ng-click="$broadcast('modal-open')">
            <modal title="{{card.title}}">
                <input type="text" ng-model="card.title">
            </modal>
        </div>
    </cards>

    Machine

    <cards title="Output">
        <div class="outputcard machinecard" ng-click="$broadcast('modal-open')">
            <modal title="{{card.title}}">
                <input type="text" ng-model="card.title">
            </modal>
        </div>
    </cards>

</div>
