<div id="addmachine" ng-controller="MachineController">

    <cards id="inputs" title="Input">
        <div class="inputcard machinecard" ng-click="$broadcast('modal-open')">
            <modal title="{{card.title}}">
                <input type="text" ng-model="card.title">
            </modal>
        </div>
    </cards>

    <canvas id="addmachine-canvas"> </canvas>

    <cards id="outputs" title="Output">
        <div class="outputcard machinecard" ng-click="$broadcast('modal-open')">
            <modal title="{{card.title}}">
                <input type="text" ng-model="card.title">
            </modal>
        </div>
    </cards>

</div>
