// Common SCSS

$theme: rgb(115 * 0.84 + (256 * 0.16), 214 * 0.84 + (256 * 0.16), 24 * 0.84 + (256 * 0.16));
$theme-active: darken($theme, 10%);
$theme-faded:  lighten($theme, 10%);
$theme-faded-active: darken($theme-faded, 10%);

$usernav-color: lighten(gray, 15%);

// Global font and reset
html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    margin: 0;
    font-size: 100%;


    background-color: white;
}

// Style for links
a {
    color: black;
}

// Setting up layout
body {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    max-width: 100%;

}


// Main 'Zophie' title
h1 {
    text-align: center;
    font-family: 'Oxygen', sans-serif;

    margin: 0 20px;
    padding: 0px;

    font-weight: 100;
    font-size: 200%;
    letter-spacing: 5px;
}

// The navigation container, top part of page
header {
    width: 100%;

    background-color: $theme-faded;
    box-shadow: 0 0 10px black;

    color: black;

    flex: 0 1 auto;


    // Hide the 'hamburger icon', used in navigation menu for narrow screens
    #title-container > a {
        display: none;
    }

    // The navigation part
    nav {
        display: flex;
        justify-content: space-around;

        // General navigation elements
        & a{
            padding: 10px;

            text-decoration: none;

            cursor: pointer;
            width: 100px;

            text-align: center;

            transition: background-color 250ms;

            background-color: rgba(0,0,0,0);

            // When active or hovered over
            &.active, &:hover{
                background-color: rgba(0,0,0,0.10);

            }
        }

        // Main navigation
        & > a {
            margin-bottom: 10px;
        }

        // User navigation container
        user-nav {

            position: absolute;
            top: 0;
            right: 0;

            background-color: $usernav-color;

            display: flex;

        }
    }
}

// Use a different header system when the screen is not wide enough
@media screen and (max-width: 780px){
    header {

        // Show and place the 'hamburger icon'
        #title-container > a {
            display: block;
            cursor: pointer;
            font-size: 200%;
            position: absolute;
            right: 20px;
            top: 0px;
        }

        // Normally hide navigation
        nav {
            display: none;
        }

        // If the menu is clicked open...
        &[menuopen=true]{

            // Cover the entire screen with nav
            display: flex;
            flex-direction: column;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            #nav-container{

                // Setup scrolling
                overflow-x: hidden;
                overflow-y: scroll;

                // The container with all the navigation elements
                nav {

                    height: 100%;

                    // No longer hide navigation
                    display: flex;
                    flex-direction: column;



                    // Remove margin and give full width to navigation elements
                    a {
                        width: 100%;
                        margin: 0;
                    }

                    // Move user-nav into the list with the other navigation elements
                    user-nav {

                        position: static;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }


    }

    // Hide content when menu is open
    content[menuopen=true] {
        display: none;
    }
}

// Main content window
content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;

    overflow-y: scroll;


    // Scrollbar style for main-content
    &::-webkit-scrollbar {
        width: 6px;
        padding-top: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: $theme;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover{
        background: $theme-active;
    }
}

// Block for placing content inside
content-container {
    display: block;
    flex: 1;

    width: 70%;
    height: 100%;
    margin: 20px auto 20px auto;
    //box-shadow: 0 0 5px black;
    padding: 10px;

    overflow-wrap: break-word;
}

// Containers for login and register
#login-page, #register-page, #logout-page {

    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 300px;

    margin: 0 auto;

    padding: 10px;

    background-color: $theme;

    border-radius: 2px;

    form {


        border-radius: 2px;

        background-color: white;
        background: linear-gradient(to bottom, white, darken(white, 3%), darken(white, 1%), white);
        display: flex;
        flex-direction: column;


        h3 {
            text-align: center;
            font-size: 150%;
        }

        input {

            padding: 10px 30px;
            margin:  10px;

            font-size: 105%;

            border: none;

            //border: 1px solid black;
            box-shadow: 0 0 1px black;

            &[type='submit']{

            }
        }
    }

    #external-login {


        & > a {

            color: white;
            text-decoration: none;
            display: block;
            padding: 10px;

            &:first-child{
                margin-top: 10px;
            }


            &#google-login {
                background-color: red;

            }

            &#facebook-login {
                background-color: blue;

            }

            &#twitter-login {
                background-color: lightblue;
                color: black;

            }

            &#github-login {
                background-color: black;

            }
        }
    }

    & > a {
        margin-top: 20px;
        text-align: center;
    }
}

// Menu for redirecting to addmachine and addclass
#addcontent-menu {


    width: 240px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    // Menu elements
    a {
        box-shadow: 0 0 2px black;

        padding: 20px;
        width: 200px;

        margin-top: 10px;

        text-decoration: none;

        // Individual colors, $theme-faded with other hues

        &:nth-child(1){
            background-color: adjust-hue($theme-faded, 105);
        }

        &:nth-child(2){
            background-color: adjust-hue($theme-faded, 270);
        }

    }
}

// lists of cards, used for defining machine
.cards {

    // Layout of cards
    display: flex;

    align-items: center;

    // Specific card
    & > div {

        // Width and height of cards. Subject to change.
        width: 120px;
        height: 150px;

        background-color: $theme-faded;

        margin: 10px;

        // Layout of title-content
        display: flex;
        flex-direction: column;

        // Card title
        & > div.card-title {

            height: 20px;

            margin: 0 10px;

            // Layout of title and remove-button
            display: flex;
            justify-content: space-between;

            // title
            h4 {
               margin: 0;
            }

            // remove-button
            a {
                cursor: pointer;
            }
        }

        // Card content
        & > div.card-content {
            padding: 10px;

            flex: 1 0 auto;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        &.addcard {
            cursor: pointer;

            background-color: lighten(desaturate($theme-faded, 100%), 20%);

            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 400%;

            height: 120px;
        }

        &.addcard-balancer {
            visibility: hidden;
        }
    }
}

// Add machine css
#addmachine {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    // Cards in the sense of machine spec
    .cards {


        // Individual card content divs
        .machinecard {

                cursor: pointer;

                flex: 1 0 auto;

            // For the case of inputcards
            &.inputcard {

            }

            // For the case of outputcards
            &.outputcard {

            }
        }
    }
}
