<!DOCTYPE html>
<html ng-app="zophie" ng-controller="MainController">
    <head>
        <title>Zophie</title>
        <meta charset="utf-8" />

        <meta name="description" content="A mathematical knowledge management platform, which asks questions about the structures it observes.">
        <meta name="keywords" content="zophie, Zophie, math, mathematical, mathematics, knowledge, category, MKM, mkm, mathematical knowledge management, chatbot, Torstein, Vik, Andreas, Holmstrøm, Holmstrom, Atlas">
        <meta name="author" content="Andreas Holmstrøm, Torstein Vik">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,maximum-scale=1, user-scalable=0">


        <script defer src="/__/firebase/4.1.3/firebase-app.js"></script>
        <script defer src="/__/firebase/4.1.3/firebase-auth.js"></script>
        <!--
        <script defer src="/__/firebase/4.1.3/firebase-database.js"></script>
        <script defer src="/__/firebase/4.1.3/firebase-messaging.js"></script>
        <script defer src="/__/firebase/4.1.3/firebase-storage.js"></script>
        -->
        <script defer src="/__/firebase/init.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>

        <script src="https://cdn.rawgit.com/showdownjs/showdown/1.7.3/dist/showdown.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML"></script>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Oxygen"    rel="stylesheet" type="text/css">


        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processEscapes: true
            }
        });
        </script>

        <link rel="stylesheet" href="/index.css"/>
        <!--<link rel="icon" href="res/logo.ico"/>-->

        <script src="/json/routes.js"> </script>
        <script src="/util.js"> </script>
        <script src="/index.js"> </script>

        <base href='/'>
    </head>
    <body ng-init='menuOpen=false'>
        <header menuOpen='{{menuOpen}}'>
            <div id="title-container">
                <h1>Zophie</h1>
                <a ng-click='menuOpen=!menuOpen'> ☰ </a>
            </div>
            <div id="nav-container">
                <nav>
                    <a ng-click="menuOpen=false" href="/home" tab-option> Home </a>
                    <a ng-click="menuOpen=false" href="/ask" tab-option> Ask </a>
                    <a ng-click="menuOpen=false"href="/answer" tab-option> Answer </a>
                    <a ng-click="menuOpen=false" href="/addcontent" tab-option> Add content </a>
                    <a ng-click="menuOpen=false" href="/visualize" tab-option> Visualize </a>
                    <a ng-click="menuOpen=false" href="/about" tab-option> About </a>
                    <user-nav>
                        <a ng-click="menuOpen=false" ng-hide="loggedin" href="/login" tab-option> Login </a>
                        <a ng-click="menuOpen=false" ng-hide="loggedin" href="/register" tab-option> Register </a>
                        <a ng-click="menuOpen=false" ng-show="loggedin" href="/mypage" tab-option> My page </a>
                        <a ng-click="menuOpen=false" ng-show="loggedin" href="/logout" tab-option> Log out </a>
                    </user-nav>
                </nav>
            </div>
        </header>
        <content menuOpen='{{menuOpen}}'>
            <content-container>
                <div ng-view>
                </div>
            </content-container>
        </content>

        <div id='modal-cover' ng-show="modalcover" />
    </body>
</html>
